:root{
    --grey500: hsl(234, 12%, 34%);
    --cyan: hsl(180, 62%, 55%);
    --grey400: hsl(212, 6%, 44%);
    --red: hsl(0, 78%, 62%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
}
body{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    font-family: Poppins, sans-serif;   
}
.container{
    width: 314px;
}
.title{
    text-align: center;
}
p{
    margin: 0;
}
.p1{
    font-weight: 200;
    color: var(--grey500);
    font-size: 25px;
}
.p2{
    color: var(--grey500);
    font-weight: 600;
    font-size: 25px;
}
.p3{
    color: var(--grey500);
    font-weight: 400;
    font-size: 15px;
    margin-top: 16px;
}
.supervisor{
    margin-top: 60px;
    border-top: 4px solid var(--cyan);  
}
.block{
    height: 250px;
    box-shadow: 0 5px 15px -5px var(--grey400);
    border-radius: 0.25rem;
}
.wrapper{
    width: 250px;
    height: 186px;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
.block-img{
    margin-top: 38px;
    display: flex;
    justify-content: flex-end;
}
.block:not(:first-child){
    margin-top: 32px;
}
.teambuilder{
    border-top: 4px solid var(--red); 
}
.karma{
    border-top: 4px solid var(--orange); 
}
.calculator{
    border-top: 4px solid var(--blue); 
}
.block-title{
    font-weight: 600;
    color: var(--grey500);
    font-size: 20px;
}
.block-descr{
    font-weight: 400;
    color: var(--grey400);
    font-size: 13px;
    margin-top: 12px;
}

@media(min-width: 48em){
    .container{
    width: 1500px;
    }
    .main-container{
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr;
    }
}